<body>

</script>

<div id="conditional">

    <table cellspacing="0" cellpadding="4" style=border:none;>
        <tr>
            {{#headers}}
                <th>{{.}}</th>
            {{/headers}}
        </tr>

        {{#vectors}}
            <tr>
                {{#. }}
                    <td style=background-color:{{second}};text-align:center;>
                        {{first}}
                    </td>
                {{/.}}
            </tr>
        {{/vectors}}
    </table>

</div>
</body>