<html>

<style>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 900px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


</style>
<body>

<div id="conditional">

    <table cellspacing="0" cellpadding="4" style=border:none;>
        <tr>
            {{#headers}}
                <th>{{.}}</th>
            {{/headers}}
        </tr>

        {{#vectors}}
            <tr>
                {{#. }}
                    <td style=background-color:{{colour}};text-align:center;>
                        <div class="tooltip">
                            {{label}}
                            <span class="tooltiptext">
                                <ul>
                                    {{#hover}}
                                        <li> {{key}}: {{value}}</li>
                                    {{/hover}}
                                </ul>
                            </span>
                        </div>
                    </td>
                {{/.}}
            </tr>
        {{/vectors}}
    </table>

</div>
</body>
</html>