Would any of these work for you?{{#showTimeZone}} Times are in {{timeZone}}.{{/showTimeZone}}

{{#proposedSlots}}
{{key}}:
{{#value}}
* {{.}}
{{/value}}
{{/proposedSlots}}

You can pick a suitable time here: {{meetingUrl}}