Would any of these times{{#showTimeZone}} ({{timeZone}}){{/showTimeZone}} work for you?

{{#proposedSlots}}
{{key}}:
{{#value}}
* {{.}}
{{/value}}

{{/proposedSlots}}
You can simply book here: {{meetingUrl}}